<p class="bg-info p-2 rounded text-center mt-3">SRemote Controls Toys Compo</p>
<div class="d-flex">
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://thumbs.dreamstime.com/b/children-s-toy-car-remote-control-birthday-gift-sale-purchase-toys-111566456.jpg"
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://i5.walmartimages.com/asr/ccd3f8b1-8471-4639-a16d-14ba53057c1c.90788ae72ad77a24a9b2cec462a7270a.jpeg"
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://i5.walmartimages.com/asr/5f14eec6-0bb9-443a-9ccf-8f733d6b6708.7ef570d8f0dfa16b4c0d69e5abf62282.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://rukminim1.flixcart.com/image/612/612/l55nekw0/remote-control-toy/x/s/w/tpzh01-3-grow-star-plus-original-imagfwe4jba5gru8.jpeg?q=70" class="images w-100">
    </div>
</div>