<p class="bg-info p-2 rounded text-center mt-3">Teshirts Compo</p>
<div class="d-flex">
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://cdn.pixabay.com/photo/2016/12/06/09/30/blank-1886001__340.png" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://media.istockphoto.com/id/1311574382/photo/blue-t-shirt-isolated-on-white-background.jpg?b=1&s=170667a&w=0&k=20&c=3aHoYgSUnlX8MaEtQ__mO7mInI_kCst10kfBYmpJf48=" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://m.media-amazon.com/images/I/61gqx7hslmL._UX569_.jpg" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://5.imimg.com/data5/SH/GC/MY-8764775/mens-t-shirt-500x500.jpg" class="images w-100">
    </div>
</div>