<p class="bg-info p-2 rounded text-center mt-3">Pants Compo</p>
<div class="d-flex">
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://media.gettyimages.com/id/173239968/photo/skinny-tight-blue-jeans-on-white-background.jpg?s=612x612&w=gi&k=20&c=QqoFe-m6N_FQKu6KyDVrHUwmKUyh3nkFK8QbDrl3OVM="
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://images.bewakoof.com/t640/sage-green-casual-cotton-trouser-340543-1663661829-1.jpg"
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://m.media-amazon.com/images/I/51Xrnmm4eOL._UX342_.jpg" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://m.media-amazon.com/images/I/61FYF12h-JL._UX569_.jpg" class="images w-100">
    </div>
</div>