<p class="bg-info p-2 rounded text-center mt-3">Shirts Compo</p>
<div class="d-flex">
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://lp2.hm.com/hmgoepprod?set=format%5Bwebp%5D%2Cquality%5B79%5D%2Csource%5B%2Faf%2F5b%2Faf5bc2554eac0ea2a3649dc9b730751614636733.jpg%5D%2Corigin%5Bdam%5D%2Ccategory%5B%5D%2Ctype%5BDESCRIPTIVESTILLLIFE%5D%2Cres%5Bm%5D%2Chmver%5B2%5D&call=url%5Bfile%3A%2Fproduct%2Fmain%5D"
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://contents.mediadecathlon.com/p1484240/ab565f3675dbdd7e3c486175e2c16583/p1484240.jpg"
            class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://contents.mediadecathlon.com/p1697959/5d188eacca42c921de151845f253ede0/p1697959.jpg" class="images w-100">
    </div>
    <div class="w-25 border border-1 m-1 border-dark rounded">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuzdjGeRq__xGeqOLfHvyyZ2rX2LXgSQ5YTdbpjNbGh1EA3JrS0LUx31nBRSi-WbNW8wc&usqp=CAU" class="images w-100">
    </div>
</div>